.partners-page-sectionn-box-con-top-contact {
    background: #f0f0f0;
    padding: calc(var(--index) * 2);
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
    border-radius: calc(var(--index) * .5);
}

.partners-page-sectionn-box-con-top-contact-p {
    font-size: clamp(12px, calc(var(--index) * .5), 25px);
    width: 60%;
}

.partners-page-sectionn-box-con-top-contact-con {
    display: flex;
    gap: calc(var(--index) * 1.5);
}

.partners-page-sectionn-box-con-top-contact-con-item {
    background: var(--white);
    padding: calc(var(--index) * .5) calc(var(--index) * 1);
    display: flex;
    gap: calc(var(--index) * .3);
    border-radius: calc(var(--index) * .3);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.partners-page-sectionn-box-con-top-contact-con-item-mini-con p {
    font-size: clamp(11px, calc(var(--index) * .45), 18px);
}

.partners-page-sectionn-box-con-top-contact-con-item-mini-con h3 {
    font-family: 'b2';
    font-size: clamp(16px, calc(var(--index) * .65), 40px);
}

.partners-page-sectionn-box-con-top-contact-con-item-mini-con h3 a {
    color: #5E47D2;

    &:hover {
        border-bottom: 1px solid #5E47D2;
    }
}

.partners-page-sectionn-box-con-top-contact-con-item-mini-con p,
.partners-page-sectionn-box-con-top-contact-con-item span svg {
    opacity: .65;
}






@media (max-width: 800px) {
    .partners-page-sectionn-box-con-top-contact-p {
        width: 100%;
    }

    .partners-page-sectionn-box-con-top-contact-con {
        flex-direction: column;
    }
}