.media-menu-fixed {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: var(--white);
    z-index: 99999999;
    padding: calc(var(--index) * 2);
    transition: .5s all ease;
}


.media-menu-fixed.media-menu-fixed-active {
    left: 0%;
    transition: .5s all ease;
}

.media-menu-fixed-close-btn {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 3);
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.media-menu-fixed-close-btn svg,
.media-menu-fixed-close-btn path {
    stroke: #fff;
    fill: #fff;
}

.media-menu-fixed-links ul li {
    list-style: none;
}

.media-menu-fixed-links ul li a {
    font-size: 28px;
    font-family: 'b1';
    color: rgba(0, 0, 0, .6);

    &:hover {
        color: #000;
    }
}

.media-menu-fixed-links ul {
    padding: calc(var(--index) * 3);
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
}

.media-menu-fixed-links-active {
    list-style: url('../../assets/svg/menu-list.svg') !important;
}

.media-menu-fixed-links-active a {
    color: #000 !important;
}