.exchange-page-section-title {
    display: flex;
    align-items: center;
    gap: calc(var(--index) * 2);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: calc(var(--index) * 2);
}

.exchange-page-section-title h1 {
    font-size: clamp(30px, calc(var(--index) * 1.5), 70px);

}

.exchange-page-section-title-24 {
    background: var(--black);
    width: fit-content;
    padding: clamp(7px, calc(var(--index) * .3), 30px) clamp(15px, calc(var(--index) * .5), 30px);
    border-radius: clamp(5px, calc(var(--index) * .2), 20px);
    display: flex;
    gap: calc(var(--index) * .5);
    align-items: center;
}

.exchange-page-section-title-24 span {
    color: var(--white);
    font-size: clamp(14px, calc(var(--index) * .55), 30px);
}

.exchange-page-section-form-container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--index) * 1);
}

.exchange-page-section-form-container-form-left-box {
    display: flex;
    align-items: center;
    width: clamp(365px, calc(var(--index) * 19), 700px);
    height: clamp(178px, calc(var(--index) * 7.5), 500px);;
    background: #fff;
    transition: .5s all ease;
    position: relative;

    -webkit-mask: url("../../assets/svg/1.svg") center / 100% 100% no-repeat;
          mask: url("../../assets/svg/1.svg") center / 100% 100% no-repeat;
}

.exchange-page-section-form-container-form-left-box2 {
    -webkit-mask: url("../../assets/svg/2.svg") center / 100% 100% no-repeat;
          mask: url("../../assets/svg/2.svg") center / 100% 100% no-repeat;
}

.exchange-page-section-form-container-form-left-box-content {
  width: 100%;
  padding: 0 calc(var(--index) * 1);
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * .0);
}


.exchange-page-section-form-container-form-swap-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.exchange-page-section-form-container-form-swap-btn-arr1 {
    width: clamp(50px, calc(var(--index) * 2), 120px);
}

.exchange-page-section-form-container-form-swap-btn-arr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease;
    cursor: pointer;
    opacity: .6;
    width: clamp(80px, calc(var(--index) * 4), 120px);

    &:hover {
        transform: translate(-50%, -50%) rotate(30deg);
        transform-origin: center center;
        opacity: .4;
    }
}

.currency-picker-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--index) * .5) calc(var(--index) * .3);
    transition: .2s all ease;
    border-radius: calc(var(--index) * .3);
    cursor: pointer;

    &:hover {
        background: rgba(0,0,0,0.15);
    }
}

.currency-picker-btn-left-side {
    display: flex;
    align-items: center;
    gap: calc(var(--index) * .3);
}

.currency-picker-btn-img-con {
    width: clamp(50px, calc(var(--index) * 2), 120px);
    height: clamp(50px, calc(var(--index) * 2), 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.currency-picker-btn-img-con img {
    width: clamp(23px, calc(var(--index) * 1), 120px);
}

.currency-picker-btn-left-side-text-con {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.currency-picker-btn-left-side-text-con p {
    font-family: 'b2';
    font-size: clamp(16, calc(var(--index) * .65), 30px);
}

.exchange-page-section-form-container-form-input {
    all: unset;
    background: #fff;
    padding: clamp(10px, calc(var(--index) * .4), 20px);
    border-radius: clamp(4px, calc(var(--index) * .2), 10px);
    font-size: clamp(14px, calc(var(--index) * .55), 25px);
}




.exchange-page-section-form-container-form-right-container button {
    all: unset;
    text-align: center;
    font-family: 'b2';
    font-size: clamp(12px, calc(var(--index) * .5), 40px);
    color: #fff;
    background: var(--black);
    padding: clamp(14px, calc(var(--index) * .7), 40px);
    cursor: pointer;
    border-radius: clamp(6px, calc(var(--index) * .3), 15px);
    transition: .2s all ease;
    z-index: 99;

    &:hover {
        background: var(--light-black);
    }
}

.exchange-page-section-form-container-form-right {
    background: #fff;
    border-radius: calc(var(--index) * .4);
    padding: calc(var(--index) * 1) calc(var(--index) * .5);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.exchange-page-section-form-container-form-right h1 {
    font-size: clamp(24px, calc(var(--index) * 1.2), 90px);
}

.exchange-page-section-form-container-form-right-container {
    display: flex;
    flex-direction: column;
    gap: clamp(15px, calc(var(--index) * .5), 40px);
}

.exchange-page-section-form-container-form-right-container-input-con {
    display: flex;
    flex-direction: column;
    gap: clamp(12px, calc(var(--index) * .5), 40px);
}

.exchange-page-section-form-container-form-right-container-input-con input {
    all: unset;
    display: block;
    background: #EDEDED;
    padding: clamp(12px, calc(var(--index) * .5), 30px) clamp(10px, calc(var(--index) * .3), 30px);
    border-radius: clamp(4px, calc(var(--index) * .2), 30px);
    font-size: clamp(12px, calc(var(--index) * .5), 25px);
    transition: .2s;
    border: 2px solid #EDEDED;
}

.exchange-page-section-form-container-form-right-container-input-con input:focus {
    background: #fff;
    border: 2px solid var(--black);
    transition: .2s;
}

.exchange-page-section-form-container-form-right-container-label-con {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * .5);
}

.exchange-page-section-form-container-form-right-container-label-con label {
    font-size: clamp(11px, calc(var(--index) * .5), 20px);
    display: flex;
    align-items: center;
    gap: calc(var(--index) * .2);
} 

.exchange-page-section-form-container-form-right-container-label-con label a {
    font-size: clamp(10px, calc(var(--index) * .5), 20px);
}

.exchange-page-section-form-container-form-right-container-qoute {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exchange-page-section-form-container-form-right-container-qoute-con p {
    font-size: clamp(11px, calc(var(--index) * .5), 20px);
    opacity: .8;
    font-family: 'b2';
}

.exchange-page-section-form-container-form-right-container-qoute p {
    font-size: clamp(11px, calc(var(--index) * .5), 20px);
    opacity: .8;
    font-family: 'b2';
}


.exchange-page-section-form-container-form-right-container-qoute-timer {
  display: flex;
  width: clamp(25px, calc(var(--index) * 1), 60px);
  height: clamp(25px, calc(var(--index) * 1), 60px);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-family: 'b2';
  font-size: clamp(10px, calc(var(--index) * .5), 40px);
  opacity: .8;

  position: relative;
  z-index: 0;

  --ring: 3px;                 
  --track: rgba(0,0,0,.2);    
  --prog: #000;                
  --bg: #fff;                 
}

.exchange-page-section-form-container-form-right-container-qoute-timer::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  z-index: -1;

  /* старт с 12 часов */
  background: conic-gradient(
    from 0deg,
    var(--prog) 0 calc(var(--p) * 1turn),
    var(--track) 0
  );
}

.exchange-page-section-form-container-form-right-container-qoute-timer::after {
    content: "";
    position: absolute;
    inset: var(--ring);
    border-radius: 50%;
    background: var(--bg);
    z-index: -1;
}

.step-number {
    font-family: 'b2';
    width: clamp(40px, calc(var(--index) * 1.4), 80px);
    height: clamp(40px, calc(var(--index) * 1.4), 80px);
    border-radius: 50%;
    position: absolute;
    top: calc(calc(var(--index) * .7) * var(--iner));
    left: calc(calc(var(--index) * .7) * var(--iner));
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
    font-size: clamp(20px, calc(var(--index) * .8), 50px);
    z-index: 10;
}

.step-number2 {
    top: calc(calc(var(--index) * 0) * var(--iner));
    left: calc(calc(var(--index) * .5) * var(--iner));
}

.step-number1 {
    top: calc(calc(var(--index) * .5) * var(--iner));
    left: calc(calc(var(--index) * .5) * var(--iner));
}

.wrapper-for-steps {
    position: relative;
}

.exchange-page-section-form-container-form-left-title {
    margin-bottom: calc(var(--index) * 1);
    font-size: calc(var(--index) * 1.2);
}

.error-text-form {
    font-size: 12px;
    color: #ac0707;
}


.currency-picker-btn-right-side img {
    width: calc(var(--index) * 1.15);
}

.currency-picker-btn-left-side-text-con-descr {
    font-size: clamp(12px, calc(var(--index) * .5), 25px);
}












@media (max-width: 700px) {
    .exchange-page-section-title {
        flex-direction: column;
        gap: calc(var(--index) * 1.5);
    }

    .exchange-page-section-title h1 {
        text-align: center;
    }

    .exchange-page-section-form-container-form {
        grid-template-columns: 1fr;
        grid-row-gap: calc(var(--index) * 2);
    }

    .currency-picker-btn-right-side img {
        width: clamp(25px, calc(var(--index) * 1.15), 40px);
    }

    .exchange-page-section-form-container-form-left {
        margin: 0 auto;
    }

    .exchange-page-section-form-container-form-left-title {
        display: none;
    }

    .step-number {
        top: calc(calc(var(--index) * 1.5) * var(--iner));
        left: calc(calc(var(--index) * 1.5) * var(--iner));
    }

    .step-number2 {
        top: calc(calc(var(--index) * 0.5) * var(--iner));
        left: calc(calc(var(--index) * 1.5) * var(--iner));
    }

    .step-number1 {
        top: calc(calc(var(--index) * 1.5) * var(--iner));
        left: calc(calc(var(--index) * 1.5) * var(--iner));
    }

    .exchange-page-section-form-container-form-left-box1 {
        align-items: start;
        padding-top: calc(var(--index) * 1);
    }

    .exchange-page-section-form-container-form-left-box {
        -webkit-mask: url("../../assets/svg/3.svg") center / 100% 100% no-repeat;
            mask: url("../../assets/svg/3.svg") center / 100% 100% no-repeat;
    }

    .exchange-page-section-form-container-form-left-box2 {
        align-items: end;
        padding-bottom: calc(var(--index) * 1.7);
        -webkit-mask: url("../../assets/svg/4.svg") center / 100% 100% no-repeat;
            mask: url("../../assets/svg/4.svg") center / 100% 100% no-repeat;
    }

    .exchange-page-section-form-container-form-left-box-content {
        gap: calc(var(--index) * .5);
    }

    .exchange-page-section-form-container-form-swap-btn {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        position: relative;
    }

    .exchange-page-section {
        padding: calc(var(--index) * 1) 0;
    }

    .step-number {
        display: none;
    }
}