
.modal-component-main-container-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 16px;
}

.modal-component-main-container-modal {
  width: 60%;
  height: 50vh;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  max-height: 80vh;
  overflow: auto;
}

.modal-component-main-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.modal-component-main-container-title {
  margin: 0;
  font-family: 'b2';
  font-size: clamp(18px, calc(var(--index) * 1.2), 30px);
}

.modal-component-main-container-close {
  all: unset;
  cursor: pointer;
  font-size: clamp(14px, calc(var(--index) * .7), 25px);
}

.modal-component-main-container-search-input {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  font-size: clamp(13px, calc(var(--index) * .5), 30px);
}

.modal-component-main-container-grid {
  margin-top: 10px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}

.modal-component-main-container-item {
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-component-main-container-icon-wrapper {
  width: clamp(45px, calc(var(--index) * 2), 70px) !important;
  height: clamp(45px, calc(var(--index) * 2), 70px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.modal-component-main-container-icon {
  width: 50%;
}

.modal-component-main-container-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.1);
}

.modal-component-main-container-code {
  font-size: clamp(14px, calc(var(--index) * 0.6), 30px);
}

.modal-component-main-container-description {
  opacity: 0.7;
  font-size: clamp(12px, calc(var(--index) * 0.5), 25px);
}

.modal-component-main-container-empty {
  opacity: 0.7;
  font-size: clamp(12px, calc(var(--index) * .5), 25px);
}





@media (max-width: 1150px) {
    .modal-component-main-container-modal {
        width: 100%;
        height: 80vh;
    }
}

@media (max-width: 700px) {
    .modal-component-main-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .modal-component-main-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}